body {
    margin: 0;
    padding: 0;
    background-color: #1b203d;
    overflow: hidden;
    font-family: system-ui, sans-serif;
}

.clearfix {
    clear: both;
}

.logo {
    margin: 0;
    margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272c4a;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #1b203d;
}

#main {
    margin-left: 300px;
    padding: 16px;
    transition: margin-left 0.5s;
}

.header {
    padding: 10px 16px;
    background-color: #1b203d;
    color: white;
}

.header .nav {
    font-size: 30px;
    cursor: pointer;
}

.content {
    padding: 16px;
    background-color: #272c4a;
    color: #f1f1f1;
    min-height: 100vh;
}

.icons {
    font-size: 20px;
}

.icon-a {
    padding: 10px 20px;
    display: block;
    color: #818181;
}

.icon-a:hover {
    background-color: #1b203d;
    color: #f1f1f1;
}


